* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: black;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.forgotForm {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 0px;


}

#loginForm {
    max-width: 100%;
}

.main-container {
    background-color: #f9fafc;
    border: 2px solid #e0dbd3;
    border-radius: 20px;
    width: 500px;

    box-shadow: 5px 0px 5px 0px;
    max-width: 100%;
    margin: 0 auto;
    padding: 7px 50px 50px 50px;
}

.main-container2 {
    background-color: #f9fafc;
    border: 2px solid #e0dbd3;
    border-radius: 20px;
    width: 425px;
    max-width: 100%;

    margin: 0 auto;
    box-sizing: border-box;
    padding: 7px 50px 50px 50px;
}

label {
    margin: 0px 0px 0px 9px;
    font-size: 16px;
}

h1 {
    margin: 37px 12px 54px 10px;
    text-align: center;
    color: #004696;
}

a {
    text-decoration: none;
}


label.Email {
    margin: 50px;
}

input {
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    width: 400px;
    max-width: 100%;
    border-color: bisque;


}

#email {
    margin-top: 11px;
}

#password {
    margin-top: 11px;
    margin-bottom: 18px;

}

#Forgot-pass {
    margin-left: 240px;
    margin-bottom: 10px;
}

input:hover {
    border-color: #004696;
}

button {
    float: right;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    width: 70px;
    max-width: 100%;
    max-height: 100%;
    height: 30px;
    background-color: #004696;
    cursor: pointer;
}

#p {
    text-align: center;
    margin-top: 30px;
}

i {
    background-color: #004696;
    width: 20px;
    max-width: 100%;
    max-height: 100%;
    color: white;
    height: 20px;


}

.footer-section {
    margin-top: 50px;
    text-align: center;
}

.side-back {
    background-color: #115eb6;
    margin-bottom: -107px;
    max-height: 100%;
    height: 200px;

}