*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form{
    border: 1px solid#eb0101;      
    width: 400px;
    height: 250px;   
    margin: 0 auto; 
    margin-top:calc(50vh - 123px);
    padding:10px;
}
.login{
    font-size: 18px;
    font-weight: 400;
}
input{
    display: flex;
    margin: 10px 0;
    width: 100%;
    height: 30px;
    padding: 10px;
}

